# Ignore everything
*

# Except gitignore
!.gitignore

# Except LICENSE
!LICENSE

# Except Pipfile
!Pipfile
!Pipfile.lock

# Except README.md
!README.md

# Except setup.cfg
!setup.cfg

# Except python files
!*.py
!*.pyi

# Include directories
!*/

# Except .idea
.idea

# Except .mypy_cache
.mypy_cache

# Except .pytest_cache
.pytest_cache

# Except build
build

# Except dist
dist

# Except *.egg-info
*.egg-info
