[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "*"
invoke = "*"
isort = "*"
black = "*"
autoflake = "*"
flake8 = "*"
flake8-bugbear = "*"
mypy = "*"
pytest = "*"
pytest-coverage = "*"

[packages]
click = "*"
supercheckers = {editable = true,path = "."}
